wheel

django==4.2.11
#django-firebird==2.2.1
django-environ==0.10.0
django-cron==0.6.0

#git+https://github.com/NishiyamaPedro/django-firebird.git@e8c9acd#egg=django-firebird

gunicorn>=*

mysqlclient~=2.2.0

cstruct~=5.2

# for jobs:
loguru
tqdm
